<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<p th:text="${client.clientName}">Hello ...</p>
</body>
</html>
